body{
    background-color: black;
}

div{
    width: 70%;
    margin-left: 17.5%;
    text-align: center;
    margin-top: 40px;
}
img{
    text-align: center;
    border: 5px solid white;
}
h1{
    font-family: "Libre Baskerville", serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

p{
    color: white;
}